{% load bootstrap5 %}
{% load static %}

{% block content %}
   <!-- Start Hero Area -->
   <section id="home" class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1 class="wow fadeInLeft" data-wow-delay=".4s">A powerful system for your School.</h1>
                    <p class="wow fadeInLeft" data-wow-delay=".6s">Symotedz Analytics System easens the whole task, from administration, 
                        performance analysis all the way to both internal and external communacation</p>
                    <div class="button wow fadeInLeft" data-wow-delay=".8s">
                        <a href="javascript:void(0)" class="btn"><i class="lni lni-apple"></i> App Store</a>
                        <a href="javascript:void(0)" class="btn btn-alt"><i class="lni lni-play-store"></i> Google
                            Play</a>
                    </div>
                    <div class="button wow fadeInUp" data-wow-delay=".6s">
                        <a href="#pricing" class="btn">Purchase Now</a>
                    </div>
                    <h3 class="m-2" style="color:#fff">Login to your symotedz analytics account -></h3>
                    <div class="button wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'Login' %}" class="btn">Login in</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                    <img src="{% static '/web1/images/hero/phone.png' %}" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->

{% endblock content %}