
{% block content %}
   <!-- Start Pricing Table Area -->
   <section id="pricing" class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s">pricing</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Pricing Plan</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of pricing plans based on your requirements and needs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h4 class="title">Basic</h4>
                        <p>All the basics for new startup</p>
                        <div class="price">
                            <h2 class="amount">Kshs 1500<span class="duration">/mo</span></h2>
                        </div>
                        <div class="button">
                            <a href="{% url 'checkout' %}" class="btn">Buy Basic</a>
                        </div>
                    </div>
                    <!-- End Table Head -->
                    <!-- Start Table Content -->
                    <div class="table-content">
                        <h4 class="middle-title">What's Included</h4>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i> 24/7 customer care support</li>
                            <li><i class="lni lni-checkmark-circle"></i> can handle upto 100 users</li>
                            <li><i class="lni lni-checkmark-circle"></i> Free continous updates.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Single ui.</li>
                        </ul>
                        <!-- End Table List -->
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h4 class="title">Premium</h4>
                        <p>All the basics for starting a new business</p>
                        <div class="price">
                            <h2 class="amount">Kshs 2500<span class="duration">/mo</span></h2>
                        </div>
                        <div class="button">
                            <a href="{% url 'checkout' %}" class="btn">Buy Premium</a>
                        </div>
                    </div>
                    <!-- End Table Head -->
                    <!-- Start Table Content -->
                    <div class="table-content">
                        <h4 class="middle-title">What's Included</h4>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i> All basics plan features</li>
                            <li><i class="lni lni-checkmark-circle"></i> Android, IOS included.</li>
                            <li><i class="lni lni-checkmark-circle"></i> All interfaces.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Smooth admin tasks.</li>
                        </ul>
                        <!-- End Table List -->
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h4 class="title">Advanced</h4>
                        <p>All the basics for starting a new business</p>
                        <div class="price">
                            <h2 class="amount">Kshs 3500<span class="duration">/mo</span></h2>
                        </div>
                        <div class="button">
                            <a href="{% url 'checkout' %}" class="btn">Buy Advanced</a>
                        </div>
                    </div>
                    <!-- End Table Head -->
                    <!-- Start Table Content -->
                    <div class="table-content">
                        <h4 class="middle-title">What's Included</h4>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i> All Basic and Premium features.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Bulk Sms Server.</li>
                            <li><i class="lni lni-checkmark-circle"></i> support upto 600 users.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Real time Data Analyis.</li>
                        </ul>
                        <!-- End Table List -->
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".8s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h4 class="title">Gold</h4>
                        <p>All the basics for starting a new business</p>
                        <div class="price">
                            <h2 class="amount">Kshs 4500<span class="duration">/mo</span></h2>
                        </div>
                        <div class="button">
                            <a href="{% url 'checkout' %}" class="btn">Buy Gold</a>
                        </div>
                    </div>
                    <!-- End Table Head -->
                    <!-- Start Table Content -->
                    <div class="table-content">
                        <h4 class="middle-title">What's Included</h4>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i> All features in other three plans.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Support unlimited users.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Bulk Sms whatspp and email server.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Supports E-learning.</li>
                        </ul>
                        <!-- End Table List -->
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </div>
</section>
<!--/ End Pricing Table Area -->

{% endblock content %}